.btn {
  display: block;
  box-sizing: border-box;
  padding: 12px 0;
  border: 2px solid $dark-gray;
  text-align: center;
  color: $dark-gray;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;

  &:hover {
    background-color: #444444;
    color: #ececec;
  }

  &:active {
    color: #8d8d8d;
  }

  &_contacts {
    width: 260px;
    margin: 0 auto;
  }

  &_create-process {
    order: 4;
    width: 192px;
    margin: 0 auto;
    margin-top: 25px;
  }

  &_order-form {
    width: 260px;
    margin-top: 30px;
    padding: 13px 0;
    background: none;
    font-size: 17px;
  }

  &_form {
    width: 260px;
    margin-top: 31px;
    background-color: $color-cyan;
    border: none;
    color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .btn {
    font-size: 17px;

    &_best-week {
      width: 290px;
    }

    &_create-process {
      width: auto;
      margin: 0 41px;
    }

    &_contacts {
      width: 230px;
    }

    &_reviews {
      order: 2;
      width: 175px;
      margin-top: 11px;
      margin-left: auto;
    }

    &_order-form {
      width: 230px;
      padding: 14px 0;
      margin-top: -36px;
      margin-left: 50px;
    }

    &_form {
      width: 350px;
      margin: 31px auto 0 auto;
    }
  }
}

@media (min-width: $desctop-width) {
  .btn {
    &_contacts {
      margin: -51px 0 0 225px;
    }

    &_create-process {
      width: 230px;
      margin-left: 63px;
    }

    &_order-form {
      margin-left: 225px;
    }

    &_reviews {
      margin-top: 14px;
    }
  }
}
