.create-process {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 30px;
  border: 1px solid $gray;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.create-process__video {
  position: relative;
  order: 2;
  width: 260px;
  height: 150px;

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - (76px / 2));
    left: calc(50% - (100px / 2));
    width: 100px;
    height: 76px;
    background-image: url("../img/icon-play.svg");
    transition: 0.2s;
  }

  &:hover::after  {
    transform: scale(1.2);
  }

  &:active::after {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.create-process__title {
  position: relative;
  order: 1;
  margin-left: 90px;
  margin-bottom: 25px;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -57px;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
  }
}

.create-process__descr {
  order: 3;
  font-size: 13px;
  padding: 0 34px;
  margin-top: 28px;
  margin-bottom: 0;
  color: rgb(68, 68, 68);
  line-height: 1.846;
}

@media (min-width: $tablet-width) {
  .create-process {
    padding-top: 0;
    padding-bottom: 46px;
  }

  .create-process__video {
    order: 1;
    width: 668px;
    height: 455px;
  }

  .create-process__title {
    order: 2;
    margin-top: 36px;
    margin-left: 105px;
    margin-bottom: 5px;

    &::before {
      top: -3px;
      left: -64px;
    }
  }

  .create-process__descr {
    margin-bottom: 39px;
    padding: 0 39px;
    font-size: 15px;
  }
}

@media (min-width: $desctop-width) {
  .create-process {
    height: 455px;
    padding-bottom: 0;
    flex-wrap: wrap;
  }

  .create-process__video {
    order: 1;
    width: 682px;
    height: 455px;
  }

  .create-process__title {
    width: 230px;
    margin-top: 100px;
    margin-left: 65px;

    &::before {
      top: -54px;
      left: 0;
    }
  }

  .create-process__descr {
    width: 230px;
    padding: 0;
    margin-top: 24px;
    margin-left: 65px;
    margin-right: 0;
    margin-bottom: 45px;
    line-height: 2;
  }
}
