.create-process {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 30px;
  border: 1px solid $gray;
}

.create-process__video {
  order: 2;
  width: 260px;
  height: 150px;
  background-image: url("../../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  font-size: 0;
}

.create-process__title {
  order: 1;
  margin-left: 90px;
  margin-bottom: 25px;
}

.create-process__descr {
  order: 3;
  font-size: 13px;
  padding: 0 34px;
  margin-top: 28px;
  margin-bottom: 0;
  color: rgb(68, 68, 68);
  line-height: 1.846;
}

@media (min-width: $tablet-width) {
  .create-process {
    padding-top: 0;
    padding-bottom: 46px;
  }

  .create-process__video {
    order: 1;
    width: 668px;
    height: 455px;
    background-image: url("../../img/video-tablet.jpg")
  }

  .create-process__title {
    order: 2;
    margin-top: 36px;
    margin-left: 105px;
    margin-bottom: 5px;
  }

  .create-process__descr {
    margin-bottom: 39px;
    padding: 0 39px;
    font-size: 15px;
  }
}

@media (min-width: $desctop-width) {
  .create-process {
    height: 455px;
    padding-bottom: 0;
    flex-wrap: wrap;
  }

  .create-process__video {
    order: 1;
    width: 682px;
    height: 455px;
    background-image: url("../../img/video-desktop.jpg")
  }

  .create-process__title {
    width: 230px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .create-process__descr {
    width: 230px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    line-height: 2;
  }
}
