.head-content {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  background-color: $gray-background;
  padding: 72px 0 76px 0;

  &_background {
    padding-top: 72px;
    padding-bottom: 0;
    background-image: url(../img/hero-mobile@1x.jpg);
    background-color: $gray-background;
    background-repeat: no-repeat;
    background-position: 50% -18px;
  }
}

.head-content__title {
  margin: 0;
  line-height: 1.111;
}

.head-content__list {
  margin-top: 124px;
}

.head-content__btn {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 320px;
  padding-left: 28px;
  padding-top: 23px;
  padding-bottom: 28px;
  font-size: 19px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s;

  &_left {
    background-color: $color-cyan;

    &:hover {
      padding-bottom: 33px;
      margin-top: -5px;
      background-color: #59d5bc;

      .head-content__interior-img {
        fill: #29a592;
      }
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);

      .head-content__interior-img {
        fill: #44c0aa;
      }
    }

  }

  &_right {
    background-color: $color-cyan-darken;

    &:hover {
      padding-bottom: 33px;
      margin-top: -5px;
      background-color: #46c1ae;

      .head-content__toy-img {
        fill: #239f8e;
      }
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);

      .head-content__toy-img {
        fill: #37b2a0;
      }
    }
  }
}

.head-content__interior-img {
  position: absolute;
  top: 25px;
  right: 27px;
  fill: #3bb09d;
}

.head-content__toy-img {
  position: absolute;
  top: 20px;
  right: 27px;
  fill: #35a999;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .head-content {
    &_background {
      background-image: url(../img/hero-mobile@2x.jpg);
      background-size: 575px auto;
    }
  }
}

@media (min-width: $tablet-width) {
  .head-content {
    position: relative;
    width: 768px;
    padding-top: 156px;
    padding-left: 50px;
    padding-right: 50px;

    &::after {
      content: "";
      position: absolute;
      width: 768px;
      height: 23px;
      bottom: -12px;
      left: -4px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &_background {
      background-image: url(../img/hero-desktop@1x.jpg);
      background-position: 50% 0;
    }

    &_catalog {
      padding-top: 96px;
      padding-bottom: 80px;

      &::after {
        bottom: -14px;
      }
    }

    &_form {
      padding-top: 96px;
      padding-bottom: 81px;

      &::after {
        bottom: -14px;
      }
    }
  }

  .head-content__list {
    margin-top: 376px;
    font-size: 0;
  }

  .head-content__btn {
    display: inline-block;
    vertical-align: bottom;
    width: 334px;
    font-size: 20px;
    padding-left: 36px;
    padding-top: 29px;
    padding-bottom: 29px;
    line-height: 1.5;

    &_left {
      &:hover {
        padding-bottom: 34px;
      }
    }

    &_right {
      &:hover {
        padding-bottom: 34px;
      }
    }
  }

  .head-content__interior-img {
    top: 32px;
    right: 27px;
  }

  .head-content__toy-img {
    top: 31px;
    right: 34px;
  }
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .head-content {
      &_background {
        background-image: url(../img/hero-desktop@2x.jpg);
        background-size: 1150px auto;
      }
    }
  }
}


@media (min-width: $desctop-width) {
  .head-content {
    width: 1150px;
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;

    &::after {
      width: 1260px;
      bottom: -6px;
      left: -55px;
    }

    &_background {
      background-image: url(../img/hero-desktop@1x.jpg);
      background-position: -50px 0;
      background-size: 1250px 746px;
    }

    &_catalog {
      padding-top: 93px;
      padding-bottom: 100px;

      &::after {
        width: 1150px;
        bottom: -9px;
        left: 0;
      }
    }

    &_form {
      padding-top: 93px;
      padding-bottom: 100px;

      &::after {
        width: 1150px;
        bottom: -9px;
        left: 0;
      }
    }
  }

  .head-content__list {
    margin-top: 360px;
  }

  .head-content__btn {
    width: 525px;
  }

  .head-content__interior-img {
    top: 31px;
    right: 25px;
  }

  .head-content__toy-img {
    top: 32px;
    right: 31px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .head-content {
      &_background {
        background-image: url(../img/hero-desktop@2x.jpg);
      }
    }
  }
}
