.main-content {
  padding-top: 30px;
  padding-bottom: 58px;

  &_form {
    padding-top: 24px;
  }
}

.main-content__wrapper {
  box-sizing: border-box;
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-content {
    padding-top: 82px;
    padding-bottom: 63px;

    &_form {
      padding-top: 73px;
      padding-bottom: 50px;
    }

    &_catalog {
      padding-top: 80px;
    }
  }

  .main-content__wrapper {
    width: 768px;
    padding: 0 50px;
  }
}

@media (min-width: $desctop-width) {
  .main-content__wrapper {
    width: 1150px;
    padding: 0 50px;
  }

  .main-content {
    padding-top: 130px;
    padding-bottom: 105px;

    &_form {
      padding-top: 122px;
      padding-bottom: 50px;
    }

    &_catalog {
      padding-bottom: 102px;
    }
  }
}
