.main-nav__wrapper {
  position: absolute;
  left: 0;
  z-index: 10;

  &_hidden {
    display: none;
  }
}

.main-nav__toggler {
  width: 20px;
  height: 14px;
  position: absolute;
  top: 32px;
  right: 30px;
  border: none;
  background-image: url("../../img/icon-menu-open.svg");
  background-color: white;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  a {
    display: block;
    box-sizing: border-box;
    width: 320px;
    padding-left: 75px;
    padding-top: 28px;
    padding-bottom: 28px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background-color: #ffffff;
    box-shadow: inset 0 -1px 0 0 $gray-2;
  }

  &_hidden {
    display: none;
  }
}

.main-nav__delivery {
  &_hidden {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggler {
    &_hidden {
      display: none;
    }
  }

  .main-nav__wrapper {
    position: static;
    width: 578px;
    height: 80px;

    &_hidden {
      display: flex;
      align-items: center;
    }
  }

  .main-nav__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 77px;

    a {
      width: auto;
      padding: 10px 0;
      background: none;
      box-shadow: none;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &_search {
      font-size: 0;
      background-image: url("../../img/icon-search.svg");
      background-repeat: no-repeat;
      background-position: center;

      a {
        width: 84px;
        height: 96px;
        padding: 0;
        border-left: 1px solid $gray-2;
        border-right: 1px solid $gray-2;
      }
    }

    &_hidden {
      display: none;
    }
  }

  .main-nav__list {
    &_left-side {
      position: absolute;
      top: 98px;
      left: 48px;

      .main-nav__item {
        &:nth-child(1) {
          margin-right: 34px;
        }
      }
    }

    &_right-side {
      margin-left: auto;
      margin-right: 24px;
    }

    &_left-side {
      font-size: 15px;
    }
  }

  .main-nav__delivery {
    &_hidden {
      display: inline-block;
      position: absolute;
      top: 108px;
      right: 50px;
      font-size: 15px;
    }
  }
}

@media (min-width: $desctop-width) {
  .main-nav__wrapper {
    width: 1075px;
    height: 80px;
  }

  .main-nav__list {
    &_left-side {
      top: 0;
      left: 75px;
      display: flex;
      width: 435px;
      flex-wrap: wrap;

      .main-nav__item {
        margin-right: 0;
        font-size: 17px;

        &_hidden {
          display: inline-block;
          font-size: 15px;
        }

        &:nth-child(1) {
          padding-right: 10px;
          margin-right: 0;
          border-right: 1px solid $gray-2;
        }

        &:nth-child(2) {
          padding-left: 10px;
        }

        &:nth-child(4) {
          padding-left: 10px;
        }
      }
    }

    &_right-side {
      margin-right: 0;
    }

    a {
      padding: 28px 25px;
    }
  }

  .main-nav__item {
    margin-right: 55px;
  }

  .main-nav__delivery {
    &_hidden {
      top: 108px;
      right: 100px;
    }
  }
}
