.main-nav__wrapper {
  position: absolute;
  left: 0;
  z-index: 10;

  &_hidden {
    display: none;
  }

  &_no-js {
    display: block;
    position: relative;
    left: -30px;
  }
}

.main-nav__toggler {
  width: 20px;
  height: 14px;
  position: absolute;
  top: 32px;
  right: 30px;
  border: none;
  background-color: white;
  background-repeat: no-repeat;

  &_unactive {
    background-image: url("../img/icon-menu-open.svg");
  }

  &_active {
    width: 21px;
    height: 21px;
    background-image: url("../img/icon-menu-close.svg");
  }

  &_no-js {
    display: none;
  }
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  a {
    display: block;
    box-sizing: border-box;
    width: 320px;
    padding-left: 75px;
    padding-top: 28px;
    padding-bottom: 28px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background-color: #ffffff;
    box-shadow: inset 0 -1px 0 0 $gray-2;

    &:hover {
      color: #8d8d8d;;
    }

    &:active {
      color: #cacaca;
    }
  }

  &_basket {
    a {
      padding-left: 30px;

      &:hover {
        .main-nav__cart-img {
          fill: $color-cyan;
        }
      }

      &:active {
        .main-nav__cart-img {
          fill: #d0f1ea;
        }
      }
    }
  }

  &_search {
    a {
      padding-left: 30px;

      &:hover {
        .main-nav__search-img {
          fill: $color-cyan;
        }
      }

      &:active {
        .main-nav__search-img {
          fill: #d0f1ea;
        }
      }
    }
  }

  &_hidden {
    display: none;
  }
}

.main-nav__cart-img {
  margin-right: 20px;
  fill: #d3d2d2;
}

.main-nav__search-img {
  margin-right: 20px;
  fill: #d3d2d2;
}

.main-nav__delivery {
  &_hidden {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggler {
    &_hidden {
      display: none;
    }
  }

  .main-nav__wrapper {
    position: static;
    width: 578px;
    height: 80px;

    &_hidden {
      display: flex;
      align-items: center;
    }
  }

  .main-nav__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 29px;

    a {
      width: auto;
      padding: 10px 0;
      background: none;
      box-shadow: none;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &_basket {
      a {
        position: relative;
        padding: 38px 0 33px 48px;
      }
    }

    &_search {
      font-size: 0;

      a {
        padding: 0;
        border-left: 1px solid $gray-2;
        border-right: 1px solid $gray-2;
      }
    }

    &_hidden {
      display: none;
    }
  }

  .main-nav__cart-img {
    position: absolute;
    top: 41px;
    left: -3px;
  }

  .main-nav__search-img {
    padding: 44px 32px 34px;
    margin-right: 0;
  }

  .main-nav__list {
    &_left-side {
      position: absolute;
      top: 98px;
      left: 48px;

      .main-nav__item {
        &:nth-child(1) {
          margin-right: 34px;
        }
      }
    }

    &_right-side {
      margin-left: auto;
      margin-right: 22px;
    }

    &_left-side {
      z-index: 10;
      font-size: 15px;
    }
  }

  .main-nav__delivery {
    &_hidden {
      display: inline-block;
      position: absolute;
      top: 108px;
      right: 50px;
      font-size: 15px;
      z-index: 10;
    }
  }
}

@media (min-width: $desctop-width) {
  .main-nav__wrapper {
    width: 1075px;
    height: 80px;
  }

  .main-nav__list {
    &_left-side {
      top: 0;
      left: 25px;
      display: flex;
      width: 435px;
      flex-wrap: wrap;

      .main-nav__item {
        margin-right: 0;
        font-size: 17px;

        &_hidden {
          display: inline-block;
          font-size: 15px;
        }

        &:nth-child(1) {
          padding-right: 10px;
          margin-right: 0;
          border-right: 1px solid $gray-2;
        }

        &:nth-child(2) {
          padding-left: 10px;
        }

        &:nth-child(4) {
          padding-left: 10px;
        }
      }
    }

    &_right-side {
      margin-right: 0;

      .main-nav__item {
        &_basket {
          a {
            padding: 30px 25px 26px 77px;
          }
        }
      }
    }

    a {
      padding: 30px 25px 26px 25px;
    }
  }

  .main-nav__item {
    margin-right: 3px;

    &_search {
      a {
        padding: 0;
      }
    }
  }

  .main-nav__cart-img {
    top: 33px;
    left: 23px;
  }

  .main-nav__delivery {
    &_hidden {
      top: 108px;
      right: 50px;
    }
  }
}
