.order-form__wrapper {
  box-sizing: border-box;
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

.order-form__descr {
  margin: 0;
  margin-bottom: 23px;
  font-size: 13px;
  color: rgb(68, 68, 68);
  line-height: 1.846;
}

.order-form__block {
  padding: 0;
  padding-top: 28px;
  margin-bottom: 40px;
  border: none;
  border-top: 1px solid $color-cyan;

  &_no-padding-top {
    padding-top: 0;
  }

  &:last-of-type {
    margin-bottom: 10px;
  }

  &_color {
    margin-bottom: 37px;
  }

  &_name {
    padding-top: 21px;
    margin-bottom: 29px;
  }

  &_phone {
    position: relative;
    margin-bottom: 32px;
  }

  &_email {
    position: relative;
    margin-bottom: 32px;
  }
}

.order-form__phone-img {
  position: absolute;
  right: 11px;
  top: 35px;
  fill: #cccccc;
}

.order-form__email-img {
  position: absolute;
  right: 6px;
  top: 35px;
  fill: #cccccc;
}

.order-form__hidden-label {
  display: none;
}

.order-form__legend {
  display: inline-block;
  padding-right: 25px;
  text-transform: uppercase;
  font-weight: bold;
  color: $color-cyan;
}

.order-form__radio {
  display: none;

  &:checked+.order-form__radio-label::after {
    background-color: $color-cyan;
  }
}

.order-form__radio-label {
  position: relative;
  margin-left: 62px;
  display: block;
  font-weight: bold;

  &:first-of-type {
    margin-bottom: 14px;
  }

  &::before {
    content: "";
    position: absolute;
    left: -64px;
    top: -6px;
    width: 35px;
    height: 35px;
    border: 2px solid $dark-gray;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    left: -52px;
    top: 6px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  &:hover::before {
    border: 2px solid #62d1ba;
  }

  &:active::before {
    border: 2px solid #c9c9c9;
  }
}

.order-form__checkbox {
  display: none;

  &:checked+.order-form__checkbox-label::after {
    border-left: 3px solid $dark-gray;
    border-bottom: 3px solid $dark-gray;
  }
}

.order-form__checkbox-label {
  position: relative;
  margin-left: 62px;
  margin-bottom: 38px;
  display: block;
  font-weight: bold;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: -64px;
    top: -8px;
    width: 35px;
    height: 35px;
    border: 2px solid $dark-gray;
  }

  &::after {
    content: "";
    position: absolute;
    left: -56px;
    top: 2px;
    width: 20px;
    height: 10px;
    transform: rotate(-45deg);
  }

  &:hover::before {
    border: 2px solid #62d1ba;
  }

  &:active::before {
    border: 2px solid #c9c9c9;
  }
}

.order-form__text {
  width: 260px;
  padding: 15px 0;
  border: none;
  border-bottom: 2px solid #000000;
  font-size: 17px;

  &:placeholder {
    color: $light-gray;
  }

  &:hover {
    border-bottom: 2px solid #62d1ba;

    &+.order-form__phone-img {
      fill: #62d1ba;
    }

    &+.order-form__email-img {
      fill: #62d1ba;
    }
  }

  &:focus {
    border-bottom: 2px solid #62d1ba;

    &+.order-form__phone-img {
      fill: #62d1ba;
    }

    &+.order-form__email-img {
      fill: #62d1ba;
    }
  }
}

.order-form__text-label {
  display: block;
  margin-top: 17px;
  font-weight: bold;

  &:first-of-type {
    margin-top: 0;
  }
}

.order-form__textarea {
  box-sizing: border-box;
  width: 260px;
  height: 142px;
  padding: 10px;
  margin-top: 20px;
  border: 2px solid $dark-gray;
  resize: none;
  font-size: 17px;

  &:placeholder {
    color: $light-gray;
  }

  &:hover {
    border: 2px solid #62d1ba;
  }

  &:focus {
    border: 2px solid #62d1ba;
  }
}

.order-form__hint {
  font-size: 14px;
  color: $dark-gray;
}

@media (min-width: $tablet-width) {
  .order-form__wrapper {
    width: 768px;
    padding: 0;
  }

  .order-form__descr {
    padding-left: 50px;
    font-size: 17px;
  }

  .order-form__block {
    position: relative;
    padding-top: 45px;
    padding-left: 217px;
    padding-right: 50px;
    margin-bottom: 65px;
    border: none;

    &:last-of-type {
      padding-top: 11px;
    }

    &_color {
      padding-top: 60px;
      margin-bottom: 3px;
      background-color: $gray-background;
    }

    &_name {
      margin-bottom: 50px;
    }

    &_phone {
      background-color: $gray-background;
      margin-bottom: 0;
      padding-bottom: 0;
      padding-top: 48px;
    }

    &_email {
      background-color: $gray-background;
      padding-top: 22px;
      padding-bottom: 50px;
      margin-bottom: 20px;
    }
  }

  .order-form__phone-img {
    right: 75px;
    top: 61px;
  }

  .order-form__email-img {
    right: 70px;
    top: 35px;
  }

  .order-form__legend {
    position: absolute;
    left: 50px;

    &_name {
      top: 60px;
    }

    &_phone {
      top: 60px;
    }

    &_email {
      top: 35px;
    }

    &_more {
      top: 40px;
    }
  }

  .order-form__inner {
    height: 243px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .order-form__radio-label {
    margin-left: 78px;

    &:first-of-type {
      margin-bottom: 50px;
    }

    &::before {
      left: -80px;
      top: -12px;
      width: 48px;
      height: 48px;
    }

    &::after {
      left: -64px;
      top: 4px;
      width: 20px;
      height: 20px;
    }
  }

  .order-form__checkbox-label {
    margin-left: 78px;
    margin-bottom: 50px;

    &:nth-of-type(1) {
      order: 1;
      margin-right: 82px;
    }

    &:nth-of-type(2) {
      order: 4;
    }

    &:nth-of-type(3) {
      order: 2;
    }

    &:nth-of-type(4) {
      order: 5;
    }

    &:nth-of-type(5) {
      order: 3;
    }

    &:nth-of-type(6) {
      order: 6;
    }

    &::before {
      left: -80px;
      top: -12px;
      width: 50px;
      height: 50px;
    }

    &::after {
      left: -67px;
      top: 3px;
      width: 27px;
      height: 13px;
    }
  }

  .order-form__text-label {
    display: inline-block;
    margin-top: 35px;
  }

  .order-form__text {
    box-sizing: border-box;
    width: 367px;
    margin-left: 25px;
    padding-left: 20px;
    font-size: 19px;

    &_long {
      width: 424px;
    }

    &_phone {
      width: 100%;
      margin-left: 0;
      background-color: $gray-background;
    }

    &_email {
      width: 100%;
      margin-left: 0;
      background-color: $gray-background;
    }
  }

  .order-form__textarea {
    width: 100%;
    margin-bottom: 50px;
  }

  .order-form__hint {
    margin-left: 410px;
    font-size: 17px;
  }
}

@media (min-width: $desctop-width) {
  .order-form__wrapper {
    width: 1248px;
  }

  .order-form__block {
    padding-left: 276px;
    padding-right: 300px;

    &:last-of-type {
      margin-bottom: 6px;
      padding-right: 270px;
    }

    &_color {
      padding-right: 245px;
      padding-bottom: 7px;
    }

    &_name {
      padding-right: 245px;
    }

    &_phone {
      padding-right: 270px;
    }

    &_email {
      padding-right: 270px;
    }
  }

  .order-form__phone-img {
    right: 280px;
  }

  .order-form__email-img {
    right: 275px;
  }

  .order-form__descr {
    padding-left: 276px;
    padding-right: 300px;
  }

  .order-form__inner {
    align-content: space-between;
    height: 160px;
  }

  .order-form__legend {
    left: 100px;
  }

  .order-form__checkbox-label {
    &:nth-of-type(1) {
      order: 1;
    }

    &:nth-of-type(2) {
      order: 3;
      margin-left: 20px;
    }

    &:nth-of-type(3) {
      order: 5;
    }

    &:nth-of-type(4) {
      order: 2;
    }

    &:nth-of-type(5) {
      order: 4;
      margin-left: 20px;
    }

    &:nth-of-type(6) {
      order: 6;
    }
  }

  .order-form__legend {
    position: absolute;
    left: 155px;

    &_name {
      top: 60px;
    }

    &_phone {
      top: 60px;
    }

    &_email {
      top: 35px;
    }

    &_more {
      top: 40px;
    }
  }

  .order-form__text {
    width: 573px;

    &_long {
      width: 626px;
    }

    &_phone {
      width: 100%;
    }

    &_email {
      width: 100%;
    }
  }

  .order-form__hint {
    margin-left: 668px;
  }
}
