.reviews {
  box-sizing: border-box;
  position: relative;
  padding-bottom: 44px;

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 7px;
    left: 0;
    bottom: -7px;
    background-image: url(../img/bg-zigzag-line.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
  }
}

.reviews__wrapper {
  box-sizing: border-box;
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

.reviews__title {
  margin-top: -26px;
}

@media (min-width: $tablet-width) {
  .reviews {
    background-image: url("../img/review@1x.jpg");
    background-color: #ffffff;
    background-repeat: no-repeat;

    &::after {
      width: 768px;
      height: 16px;
      left: 0;
      bottom: -50px;
      transform: rotate(180deg);
    }
  }

  .reviews__wrapper {
    width: 768px;
    padding: 68px 50px 0 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .reviews__title {
    order: 1;
    margin: 0;
    margin-left: -5px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .reviews {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }
}

@media (min-width: $desctop-width) {
  .reviews {
    height: 457px;
    margin-bottom: 84px;
    background-position: 50px;

    &::after {
      width: 1050px;
      height: 24px;
      left: 50px;
      bottom: -90px;
      transform: rotate(180deg);
    }
  }

  .reviews__title {
    margin-left: -4px;
  }

  .reviews__wrapper {
    width: 1150px;
    padding-top: 62px;
    padding-right: 50px;
    padding-left: 225px;
  }
}
