.slider__list {
  list-style: none;
  padding: 0;
}

.slider__item {
  padding: 0;
}

.slider__btns {
  font-size: 0;
  margin-top: 33px;
  margin-bottom: 38px;
}

.slider__prev {
  box-sizing: border-box;
  width: 130px;
  height: 52px;
  display: inline-block;
  text-indent: -99999px;
  border: 1px solid $gray-2;
  background: url("../img/icon-left-arrow.svg") no-repeat 50% 50%;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.slider__next {
  box-sizing: border-box;
  width: 130px;
  height: 52px;
  display: inline-block;
  text-indent: -99999px;
  border: 1px solid $gray-2;
  background: url("../img/icon-right-arrow.svg") no-repeat 50% 50%;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .slider {
    order: 3;
  }

  .slider__btns {
    float: right;
  }

  .slider__prev {
    width: 90px;
    border: none;
  }

  .slider__next {
    width: 90px;
    border: none;
  }
}
