
.social-link {
  font-size: 0;
  display: inline-block;
  width: 25px;
  height: 30px;
  margin-top: 26px;

  svg {
    &:hover {
      fill: #46c1ae;
    }

    &:active {
      fill: #bde3dd;
    }
  }

  &_in {
    margin-right: 32px;
  }

  &_fb {
    margin-right: 32px;
  }
}

@media (min-width: $tablet-width) {
  .social-link {
    margin-top: 0;
  }
}
