.table_block_best-week {
  width: 260px;
  margin-bottom: 28px;
  border-collapse: collapse;
  line-height: 1.6;
}

.table__data_block_best-week {
  border-bottom: 1px solid $gray-2;
  padding: 10px 0;
}

.table__data_block_best-week:first-child {
  width: 100px;
}

.table_block_contacts {
  width: 260px;
  line-height: 2;

  a {
    padding-bottom: 5px;
    text-decoration: none;
    color: rgb(68, 68, 68);
    border-bottom: 1px solid $btn-color-1;
  }
}

.table__data_block_contacts {
  vertical-align: top;
  padding-bottom: 36px;

  &:first-child {
    width: 100px;
  }
}
