.theme {
  font-family: "Open Sans", sans-serif;
}

.theme__head-title-size {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}

.theme__block-title-size {
  font-size: 25px;
  font-weight: bold;
}

.theme__list-text {
  font-size: 17px;
  font-weight: bold;
}

.theme__ad-title {
  font-size: 17px;
  font-weight: bold;
}

.theme__form-text-title {
  font-size: 17px;
  font-weight: bold;
}

.theme__small-text-size {
  font-size: 15px;
  color: rgb(68, 68, 68);
}

@media (min-width: $tablet-width) {
  .theme__head-title-size {
    font-size: 43px;
  }

  .theme__block-title-size {
    font-size: 43px;
  }

  .theme__small-text-size {
    font-size: 17px;
  }

  .theme__ad-title {
    font-size: 20px;
  }

  .theme__form-text-title {
    font-size: 19px;
  }

  .theme__list-text {
    font-size: 20px;
  }

  .theme__text-size {
    font-size: 17px;
  }
}


@media (min-width: $desctop-width) {
  .theme__head-title-size {
    font-size: 53px;
  }

  .theme__block-title-size {
    font-size: 53px;
  }
}
