.theme__head-title-size {
  font-size: 27px;
}

.theme__title-size {
  font-size: 25px;
}

.theme__text-size {
  font-size: 17px;
}

.theme__small-text-size {
  font-size: 15px;
  color: rgb(68, 68, 68);
}
